
* {
  transition: all .3s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



/*body {
  background-image: url(../images/landing/-840.png);
  background-repeat: no-repeat;
  background-position: top center;
}*/

body {
  background-image: url(../images/mockups/1440.png);
  background-repeat: no-repeat;
  background-position: top center;
}

body {
  max-width: 1493px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
  margin: 0px auto;
}

h2, p {
  color: #323332;
}

h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
}

p {
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  line-height: 36px;
  margin-top: 27px;
}

a {
  text-decoration: none;
  color: inherit;
}

.Wr {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  width: 1500px;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
  background-color: white;
  overflow: hidden;
}

.medium {
  display: none;
}

.mainSection {
  width: 1440px;
  height: 800px;
  position: relative;
  overflow: hidden;
}

.mainSection section {
  top: 190px;
  /*width: 400px;
  height: 580px;*/
  position: absolute;
}

.mainSection.left section {
  left: 160px;
}

.mainSection.right section {
  right: 232px;
}

.mainSection.center section{
  text-align: center;
  width: 100%;
}

.mainSection section figure {
  width: 32px;
  height: 4px;
  margin-top: 1px;
  background-color: #77FFE1;
}

.mainSection.left {
  background-color: #fcfffe;
}

.mainSection.left h2{
  top: 0px;
  left: -5px;
}

.mainSection.right,
.mainSection.center {
  background-color: #879696;
}

.mainSection.right h2,
.mainSection.right p,
.mainSection.center h2,
.mainSection.center p {
  color: white;
}

.mainSection.center h2 {
  font-size: 30px;
  line-height: 37px;
}

.mainSection.center p {
  margin-top: 20px;
}

.mainSection.center {
  text-align: center;
  top: 1px;
  width: 1630px;
}

.mockup {
  position: absolute;
  background-size: cover;
}

#mockup1 {
  background-image: url(../images/about.png);
  height: 628px;
  width: 531px;
  right: 158px;
  margin-top: 232px;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

#mockup2 {
  background-image: url(../images/about.png);
  height: 318px;
  width: 140px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

#mockup3 {
  background-image: url(../images/works.png);
  height: 396px;
  width: 140px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

#mockup4 {
  background-image: url(../images/work.png);
  height: 475px;
  width: 140px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

#mockup5 {
  background-image: url(../images/screens.png);
  height: 403px;
  width: 760px;
  right: 40px;
  top: 343px;
}

.mainSection.right>section.mockupBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 775px;
  width: 345px;
  top: -195px;
  left: 160px;
}

footer {
  position: absolute;
  bottom: 37px;
  text-align: center;
  width: 100%;
}

footer p {
  font-size: 16px;
}

.polosa {
width: 22px;
height: 3px;
margin-top: 42px;
background-color: #50e3c2;
}


/*@media screen and (max-width: 1439px) {
  h2 {
    font-size: 30px;
    line-height: 39px;
  }

  p {
    font-size: 16px;
    line-height: 26px;
  }

  .mainSection {
    width: 1117px;
    height: 568px;
  }

  .mainSection section {
    top: 137px;
  }

  .mainSection.right section {
    right: 192px;
  }

  .mainSection section p {
    margin-top: 18px;
  }

  #mockup1 {
    height: 685px;
    width: 376px;
    right: 161px;
    margin-top: 167px;
  }

  #mockup2 {
    height: 227px;
    width: 100px;
  }

  #mockup3 {
    height: 283px;
    width: 100px;
  }

  #mockup4 {
    height: 339px;
    width: 100px;
  }

  #mockup5 {
    height: 287px;
    width: 542px;
    right: 74px;
    top: 243px;
  }

  .mainSection.right>section.mockupBox {
    width: 247px;
    top: -250px;
  }

  footer {
    bottom: 25px;
  }

  footer p {
    font-size: 13px;
  }

  .large {
    display: none;
  }

  .medium {
    display: block;
  }
}*/

/*@media screen and (max-width: 1440px) {*/
  .Wr {
    width: 100%;
  }
}
@media screen and (max-width: 1179px) {
  h2 {
     font-size: 30px;
     line-height: 39px;
   }

   p {
     font-size: 16px;
     line-height: 26px;
   }

   .mainSection {
     width: 1117px;
     height: 568px;
   }

   .mainSection section {
     top: 137px;
   }

   .mainSection.right section {
     right: 192px;
   }

   .mainSection section p {
     margin-top: 18px;
   }

   #mockup1 {
     height: 685px;
     width: 376px;
     right: 161px;
     margin-top: 167px;
   }

   #mockup2 {
     height: 227px;
     width: 100px;
   }

   #mockup3 {
     height: 283px;
     width: 100px;
   }

   #mockup4 {
     height: 339px;
     width: 100px;
   }

   #mockup5 {
     height: 287px;
     width: 542px;
     right: 74px;
     top: 243px;
   }

   .mainSection.right>section.mockupBox {
     width: 247px;
     top: -250px;
   }

   footer {
     bottom: 25px;
   }

   footer p {
     font-size: 13px;
   }

   .large {
     display: none;
   }

   .medium {
     display: block;
   }

   .polosa {
     width: 22px;
     height: 3px;
     margin-top: 42px;
   }
  }
}
@media screen and (max-width: 839px) {
  .mainSection {
     width: 860px;
     height: 1024px;
   }

   #mockup1 {
     height: 685px;
     width: 538px;
     margin-top: 483px;
   }

   #mockup2 {
     height: 318px;
     width: 140px;
   }

   #mockup3 {
     height: 396px;
     width: 140px;
   }

   #mockup4 {
     height: 475px;
     width: 140px;
   }

   #mockup5 {
     height: 403px;
     width: 618px;
     top: 506px;
   }

   .mainSection.right>section.mockupBox {
     width: 345px;
     top: 68px;
     left: 186px;
   }

   .mainSection.center section {
     top: 187px;
  }
}
