body.landing.bg {
  background-image: url(../images/mockups/1440.png);
  background-repeat: no-repeat;
  background-position: top center;
  height: 3200px;
}

body.landing * {
  transition: all .3s ease;
}

.landingWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  width: 1440px;
  margin: 0 auto;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
}

.mainSection {
  position: relative;
  width: 1440px;
  height: 800px;
  overflow: hidden;
}

.mainSection h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
}

.mainSection p {
  font-family: 'PT Sans', sans-serif;
  margin-top: 26px;
  font-size: 21px;
  line-height: 36px;
}

.mainSection.center {
  text-align: center;
}

.mainSection.center h2 {
  font-size: 44px;
  line-height: 56px;
}

.mainSection.center p {
  margin-top: 26px;
}

.mainSection.center section {
  top: 101px;
  width: 100%;
  color: white;
}

.mainSection section {
  position: absolute;
  top: 101px;
  width: 482px;
}

.mainSection.left section {
  left: 160px;
}

.mainSection.right section {
  right: 159px;
  color: white;
}

.mainSection section figure {
  width: 210px;
  height: 20px;
  margin-top: 100px;
  background-image: url(../images/landing/pattern.svg);
}

.mainSection.left section figure {
  margin-left: -60px;
}

.mainSection.right section figure {
  margin-left: 430px;
}

.mainSection.center section nav {
  margin-top: 0px;
  font-size: 0;
  position: absolute;
}

.mainSection.center section nav a {
  margin: 0 10px;
}



.mainSection.center footer {
  position: absolute;
  bottom: 132px;
  right: 1px;
  width: 100%;
}

.mainSection.center footer p {
  font-size: 16px;
}

.mockup {
  position: absolute;
  background-size: cover;
}

#mockup_1 {
  top: 103px;
  left: 160px;
  width: 140px;
  height: 317px;
  background-image: url(../images/images/about.png);
}

#mockup_2 {
  top: 103px;
  left: 506px;
  width: 140px;
  height: 475px;
  background-image: url(../images/images/work.png);
}

#mockup_3 {
  top: 103px;
  right: 967px;
  width: 140px;
  height: 403px;
  background-image: url(../images/images/works.png);
}

#mockup_4 {
  top: 249px;
  right: 37px;
  width: 769px;
  height: 408px;
  background-image: url(../images/images/screens.png);
}

@media screen and (max-width: 1460px) {
  .landingWrapper {
    width: 100%;
  }
}

.button {
  position: relative;
  margin-top: 58px;
  right: -560px;
}

.buttom {
  margin-top: 15px;
  font-size: 12px;
  position: absolute;
  top: 20px;
  color: white;
}


/*@media screen and (max-width: 1180px) {
  body.landing.bg {
    background-image: url(../images/mockups/1180 First Breakpoint.png);
  }

  .mainSection {
    width: 1180px;
    height: 568px;
  }

  .mainSection h2 {
    font-size: 26px;
    line-height: 32px;
  }

  .mainSection p {
    margin-top: 18px;
    font-size: 18px;
    line-height: 27px;
  }

  .mainSection.center h2 {
    font-size: 28px;
    line-height: 37px;
  }

  .mainSection.center p {
    margin-top: 21px;
  }

  .mainSection section {
    top: 105px;
    width: 410px;
  }

  .mainSection.left section {
    left: 190px;
  }

  .mainSection.right section {
    right: 190px;
  }

  .mainSection.center section {
    top: 132px;
  }

  .mainSection section figure {
    width: 147px;
    height: 14px;
    margin-top: 100px;
  }

  .mainSection.left section figure {
    margin-left: -40px;
  }

  .mainSection.right section figure {
    margin-left: 303px;
  }

  .mainSection.center section nav {
    margin-top: 50px;
  }

  .mainSection.center section nav a {
    margin: 0 6px;
  }

  .mainSection.center footer p {
    font-size: 12px;
  }

  #mockup1 {
    top: 85px;
    right: 0;
    width: 521px;
    height: 470px;
  }

  #mockup2 {
    top: 70px;
    left: 148px;
    width: 380px;
    height: 478px;
  }

  #mockup3 {
    top: 72px;
    right: -444px;
    width: 960px;
    height: 555px;
  }
}*/

@media screen and (max-width: 910px) {
  body.landing.bg {
    background-image: url(../images/mockups/_1180.png);
  }

  .mainSection {
    width: 910px;
    height: 1024px;
  }

  .mainSection h2 {
    font-size: 36px;
    line-height: 46px;
  }

  .mainSection p {
    margin-top: 21px;
    font-size: 26px;
    line-height: 38px;
  }

  .mainSection.center h2 {
    font-size: 28px;
    line-height: 37px;
  }

  .mainSection.center p {
    margin-top: 21px;
  }

  .mainSection section {
    top: 100px;
    width: 580px;
  }

  .mainSection.left section,
  .mainSection.right section {
    left: 162px;
  }

  .mainSection.center section {
    top: 132px;
  }




  .mainSection section figure {
    width: 210px;
    height: 20px;
    margin-top: 100px;
  }

  .mainSection.left section figure,
  .mainSection.right section figure {
    margin-left: -60px;
  }

  .mainSection:nth-child(3) section figure {
    margin-left: 430px;
  }







  .mainSection.center section nav {
    margin-top: 50px;
  }

  .mainSection.center section nav a {
    margin: 0 6px;
  }

  .mainSection.center footer p {
    font-size: 12px;
  }

  #mockup_1 {
    top: 400px;
    right: -34px;
    width: 621px;
    height: 560px;
  }

  #mockup_2 {
    top: 440px;
    left: 333px;
    width: 464px;
    height: 584px;
  }

  #mockup_3 {
    top: auto;
    bottom: -100px;
    right: -30px;
    width: 836px;
    height: 483px;
  }
}
